**pycache**/
*.py[cod]
*.pyo
*.pyd
.venv/
.savetogithub.bat
progress_tracker.py
.PROGRESS.md

# Ignore DB & session files but keep folders
*.db
*.session
# Add exceptions for .gitkeep
!accounts/.gitkeep
!session/.gitkeep